.body {
    display: flex;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
}

.sky {
    background-image: url('img/fb-game-background.png');
    width: 500px;
    height: 580px;
    position: absolute;
}
.ground {
    background-image: url('img/bottom-background.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: 1;
}

.bird {
    background-image: url('img/flappy-bird.png');
    position: absolute;
    height: 45px;
    width: 60px;
    z-index: 2;
}

.border-left {
    width: 60px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
}
.border-right {
    width: 60px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +3;
    left: 500px;
}

.border-top {
    width: 620px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: white;
    top: -50px;
    z-index: 2;

}

.obstacle {
    width: 60px;
    height: 300px;
    background-image: url('img/flappybird-pipe.png');
    position: absolute;
}

.topObstacle {
    width: 60px;
    height: 300px;
    background-image: url('img/flappybird-pipe.png');
    position: absolute;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}